<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>@ViewData["Title"] - BodyLife CRM</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <partial name="_CurrentSession" />
    @RenderBody()
    <script src="~/js/site.js" asp-append-version="true" defer></script>
</body>
</html>
